/* Barra lateral */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100vh;
    background: #f1f1f1;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-sizing: border-box;
}

/* Logo */
.logo {
    width: 150px;
    margin-bottom: 20px;
}

/* User info */
.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: -10px;
}

.user-name {
    font-weight: 600;
    color: #222;
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: -2px;
}

.user-type {
    font-size: 10px;
    color: #777;
}

/* Botões editar / sair */
.buttons-top {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.btn-small {
    background: #004BAD;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 12px;
}

/* MENU PRINCIPAL – espaçamento igual à imagem */
.menu {
    align-items: center;
    width: 100%;
    padding: 0 35px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}
/* Botões grandes */
.btn {
    background: #004BAD;
    color: white;
    padding: 10px;
    border: none;
    width: 80%;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}
