
.pagina {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.conteudo-principal {
  margin-left: 250px;
  background: white;
  width: calc(100% - 250px);
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.conteudo-principal-wrapper {
  flex-grow: 1; 
  overflow-y: auto; 
  padding: 20px; 
}

.footer-wrapper {
  margin-top: auto; 
  width: 100%;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.tabela {
  border-radius: 8px;
  width: 100%;
  border-collapse: collapse;
  background-color: #F2F2F2;
  margin-bottom: 30px;
  border-radius: 8px; 
  overflow: hidden;
}
.container-botoes-acao {
  display: flex;
  justify-content: center; 
  align-items: center;    
  gap: 8px;               
}

.tabela th,
.tabela td {
  padding: 12px;
  border: 1px solid #767676;
  vertical-align: middle; 
}

.tabela th {
  background: #004BAD;
  color: white;
}

.tabela .coluna-acoes {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 8px;
  padding: 8px; 
}

.btn {
  padding: 6px 12px;
  border: none;
  background: #004BAD; 
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.btn-cadastrar {
  background-color: #004BAD;
  color: white;
  border: none;
  cursor: pointer;
  width: 20%;
  text-align: center;
  border-radius: 6px; 
  padding: 10px 15px; 
  font-weight: bold;
  font-size: 16px; 
  display: block; 
}

.btn-cadastrar:hover {
  background-color: #004BAD; 
  opacity: 1; 
}

.cabecalho {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 20px;
}

.btn.delete {
  background: #AD0000;
}

.btn:hover {
  opacity: 0.8;
}

.btn-cadastrar {
  background-color: #004BAD; 
  font-weight: 500;
}